.heading-2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: $color-secondary-light;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
  transform: skewY(-3deg);
}

.copyright {
  color: $font-secondary-color;
  font-size: 1.2rem;
  margin-top: auto;
}

.link:link,
.link:visited {
  color: $font-secondary-color;
}
